@model SimpleBlog.ViewModels.AuthLogin

@{
    ViewBag.Title = "Sign in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sign in</h2>


@using (Html.BeginForm())
{

    @Html.ValidationSummary()
<div>
    @Html.LabelFor(x => x.Username)
    @Html.EditorFor(x => x.Username)
    @Html.ValidationMessageFor(x => x.Username)

</div>

<div>
    @Html.LabelFor(x => x.Password)
    @Html.EditorFor(x => x.Password)
    @Html.ValidationMessageFor(x => x.Password)
</div>

    <div>
        <input type="submit"  value="Login" />
    </div>
}